<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOBA | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <a href="{{ url_for('home') }}" class="btn-back"><i class="fas fa-arrow-left"></i> REGRESAR</a>

    <video autoplay muted loop id="bg-video">
        <source src="{{ url_for('static', filename='video/servicios.mp4') }}" type="video/mp4">
    </video>

    <div class="glass-card">
        <img src="{{ url_for('static', filename='img/logoSimbolo.png') }}" class="custom-logo" alt="Logo NOBA">
        
        <div class="title-login">INICIAR SESIÓN</div>
        
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" name="email" placeholder="Nombre de usuario o Email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            
            <a href="#" class="forgot-pass">¿Olvidaste tu contraseña?</a>
            <button type="submit" class="btn-noba">INICIAR SESIÓN</button>
        </form>

        <div class="social-login">
            <p style="font-size: 0.75rem; opacity: 0.5;">Iniciar sesión con</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
            
            <p style="margin-top: 25px; font-size: 0.85rem;">
    ¿No tienes cuenta? 
    <a href="{{ url_for('registro_page') }}" style="color: var(--azul-electrico); text-decoration: none; font-weight: bold;">
        Regístrate aquí
    </a>
</p>
        </div>
    </div>

</body>
</html>